<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='services.css') }}">
</html>
<body>
    <h1>OUR SEREVICES</h1>
    <ul input type="circle">
        <div class="lists">
        <li>Social Media Marketing</li>
         <li>Socia Media Graphics</li>
          <li>Goole Ads/Meta Ads</li>
           <li>Search Engine Optimazion</li>
            <li>Google My Business</li>
        </div>
    </ul>
</body>
</html>